* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    margin: 0;
}
ul li {
    list-style-type: none;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
}
h2 {
    font-size: 35px;
    color: #212121;
    margin-bottom: 30px;
}
h3 {
    font-size: 14px;
    color: #212121;
    margin-bottom: 20px;
    line-height: 1.5;
}
h6 {
    font-size: 14px;
    color: #323232;
    margin-bottom: 20px;
}
p {
    font-size: 14px;
    line-height: 22px;
    color: #323232;
    text-align: justify;
}
a {
    cursor: pointer;
    transition: 300ms ease all;
}
a:hover,
a:focus {
    text-decoration: none !important;
    transition: 300ms ease all;
}
section {
    background: #ececec;
    padding: 50px 0px
}
.navbar-nav>li>a {
  font-size: 20px;
  color: #384d9f;
  font-weight: bold;
  line-height: 1.2;
    
}
.visible-xs {
    display: none;
}
.btn-primary-yellow {
    float: right;
    border-radius: 10px;
    border: 1px solid #ff9314;
    background-image: -moz-linear-gradient( 90deg, rgb(252,177,28) 0%, rgb(254,216,42) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,177,28) 0%, rgb(254,216,42) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,177,28) 0%, rgb(254,216,42) 100%);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    padding: 7px 20px 7px 20px;
    font-size: 20px;
    color: rgb(56, 77, 159);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    display: block;

}
.navbar-default {
    margin-bottom: 0;
}
.btn-primary-yellow {
    padding-left: 50px;
    position: relative;
    margin: 10px 0 10px 25px;
}
.btn-primary-yellow:after {
    position: absolute;
    width: 38px;
    height: 49px;
    bottom: 0;
    left: 10px;
    display: block;
    content: '';
    background: url(../images/hotro.png) no-repeat center;
    background-size: cover;
}
.navbar-right {
    margin-top: 15px;
}
.navbar-default .navbar-nav>li>a {
    padding: 15px 10px;
    color: #384d9f;
}
.navbar-default .navbar-nav li a:hover {
    color: #FECC26;
}
/* Content */
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    float: left;
}
.owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    float: left;
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
    background: #064ca5;
}
.owl-carousel .owl-dots .owl-dot span {
    margin: 2px 3px;
    border: 1px solid #fff;
    width: 20px;
    height: 20px
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
    background: #064ca5;;
}
.owl-carousel .owl-dots {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center; 
}
/* Topmenu */
#topmenu {
    background: #0673ba;
}
#topmenu ul {
    float: right;
}
#topmenu ul li {
    position: relative;
    float: left;
    padding: 10px 0;
}
#topmenu a {
    display: block;
    color: #fff;
    padding: 0px 7px;
    border-right: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 14px;
}
#topmenu li:last-child a {
    border-right: 0;
    padding-right:0;
}
/* Gioi thieu */
#gioithieu {
    padding: 30px 0;
}
#gioithieu h3 {
    margin-bottom: 0;
}
#gioithieu h3 a{
  font-size: 14px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
}

/* Dat hang */
#dat_hang {
    background: url(../images/bg_dangky.jpg) no-repeat center;
    background-size: cover;
}
#dat_hang h3 {
  font-size: 24px;
  font-family: 'Open Sans';
  text-align: center;
  color: #fff;
  font-weight: bold;
    text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(22, 22, 22, 0.53);
  margin: 0px 0 30px;
}
#dat_hang .col-md-8 img {
    margin-top: 50px;
}
#dathang form {
    border: 2px solid #fff;
    border-radius: 10px;
    background: url(../images/bg_dathang.jpg) no-repeat center;
    background-size: cover;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
form p {
    color: #fff;
}
form img {
    display: block;
    margin: 0px auto;
    width: 50%;
}
input, textarea {
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    background-color: #fff;
    height: 35px;
    width: 100%;
    overflow:hidden;
    margin-bottom: 10px;
    padding: 7px 15px;
}
 textarea {
    height: 70px;
 }
input[type='submit'] {
    border: 2px solid #fff;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,123,1) 0%, rgb(255,173,13) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,123,1) 0%, rgb(255,173,13) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,123,1) 0%, rgb(255,173,13) 100%);
    box-shadow: -0.035px 2px 0px 0px rgba(255, 173, 13, 0.6),inset 0.342px 0.94px 0px 0px rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-family: 'Open Sans';
    color: #fff;
    font-weight: bold;
    padding: 5px 20px;
    display: block;
    width: 200px;
    margin: 0px auto;
    line-height: 14px;
}
.coupon input {
    width: 70%;
    margin-right: 2%;
    float: left;
    font-style: italic;
    height: 35px;
}
.coupon button {
    font-size: 16px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(34, 113, 144);
    display: block;
    padding: 5px;
    width: 28%;
    height: 35px;
}
.dathang_sanpham p {
    text-align: center;
    font-weight: bold;
}
.dathang_sanpham label {
    color: #fff;
    float: left;
    display: block;
    width: 15%;
    margin-right: 5%;
    line-height: 30px;
}
.dathang_sanpham input {
    height: 30px;
    width: 80%;
}
.sum {
  font-size: 18px;
  font-family: 'Open Sans';
  color: #fff;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

/* San xuat */
#sanxuat_ungdung {
    background:transparent;
}
#sanxuat_ungdung p {
    font-size: 24px;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    padding: 10px 30px 10px 20px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,123,1) 0%, rgb(255,173,13) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,123,1) 0%, rgb(255,173,13) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,123,1) 0%, rgb(255,173,13) 100%);
    box-shadow: -0.035px 2px 0px 0px rgba(255, 173, 13, 0.6),inset 0.342px 0.94px 0px 0px rgba(255, 255, 255, 0.75);
}
#sanxuat_ungdung img + p, #sanxuat_ungdung p + img {
    margin-top: 50px;
}
.btn-primary-blue {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(27,157,219) 0%, rgb(105,193,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(27,157,219) 0%, rgb(105,193,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(27,157,219) 0%, rgb(105,193,255) 100%);
    width: 200px;
    font-size: 20px;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.65;
    text-align: center;
    padding: 7px 15px;
    display: block;
    margin: 0px auto;
    text-transform: uppercase;
    margin-top: 20px;
}
/* Chuyen gia */
#chuyengia {
    background: url(../images/bg_chuyengia.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 0;
}
#chuyengia h3  {
  font-size: 30px;
  font-family: 'Open Sans';
  color: rgb(2, 136, 176);
  font-weight: bold;
  text-align: center;
      text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    line-height: 1.5;
    margin-bottom: 0;
}
#chuyengia .box_chuyengia {
    position: relative;
    float: left;
    width: 100%;
    padding: 75px 0 40px;
}
#chuyengia .box_chuyengia img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
}
#chuyengia .box_chuyengia.right img {
    left: initial;
    right: 0;
}
#chuyengia .box_chuyengia p {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(0, 74, 128);
  padding: 10px 20px;
  position: relative;
    width: 70%;
}
#chuyengia .box_chuyengia p:before {
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 20px;
    text-align: left;
    color: #fff;
    display: block;
}
#chuyengia .box_chuyengia p:after {
    content: '\f10e';
    font-family: FontAwesome;
    font-size: 20px;
    text-align: right;
    color: #fff;
    display: block;
}
#chuyengia .box_chuyengia.left p {
    padding-left: 114px;
    float: right;
}
#chuyengia .box_chuyengia.right p {
    padding-right: 114px;
    float: left;
}
#chuyengia .box_chuyengia span {
  font-size: 20px;
  font-family: 'Open Sans';
  color: rgb(0, 74, 128);
  font-weight: bold;
  line-height: 1;
      text-shadow:
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    display: block;
    margin-top: 30px;
}
#chuyengia .box_chuyengia.left span {
    float: right;
    margin-right: 60px;
}
#chuyengia .box_chuyengia.right span {
    float: left;
    margin-left: 60px;
}
/* mang luoi */
#mangluoi {
    padding: 30px 0 0;
    background: transparent;
}
#mangluoi h3 {
  font-size: 30px;
  font-family: 'Open Sans';
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 50px;
}
#mangluoi .col-md-4 img {
    width: 75%;
    margin: 50px 0 50px;
}
#mangluoi .col-md-2 img {
    width: 120%;
    max-width: none;
    margin-top: -50px;
}
/* nhan xet nguoi dung */
#nhanxet_video {
    background: #fff;
}
#nhanxet_video .box_nguoidung {
  border: 1px solid rgb(0, 74, 128);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
}
#nhanxet_video img {
    margin-bottom: 30px;
}
#nhanxet_video p {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: rgb(58, 58, 58);
    line-height: 1.6;
}
#nhanxet_video h3, #nhanxet_video .box_video h3 {
    font-size: 30px;
    font-family: 'Open Sans';
    color: rgb(58, 58, 58);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
}
#nhanxet_video .box_video h3 a {
    font-size: 30px;
}
#nhanxet_video h4 {
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(58, 58, 58);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
}
#nhanxet_video .box-content-video {
  background-color: rgba(0, 0, 0, 0.341);
  border-radius: 10px;
  overflow:hidden;
  position: relative;
}
#nhanxet_video .box-content-video:after {
    content: '';
    font-family: FontAwesome;
    color: #ffbb06;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: url(../images/play_icon.png) no-repeat center;
    background-size: cover;
    line-height: 50px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    border: 1px solid #ffbb06;
    position: absolute;
}
#nhanxet_video .box-content-video img, #nhanxet_video .box-content-video h4 {
    margin: 0;
}
#nhanxet_video .box-content-video h4 {
    background: #394fa0;
    font-size: 18px;
    font-family: 'Open Sans';
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    padding: 10px;
}
/* Tin tuc */
#tintuc {
    padding: 30px 0;
}
#tintuc h2 a {
  font-size: 30px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
}

#tintuc .list_tintuc li {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow:hidden;
    margin-bottom: 20px;
}
#tintuc .list_tintuc li h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
#tintuc .list_tintuc li h3 a {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}

#tintuc .list_tintuc li img {
    width: 45%;
    margin-right: 5%;
    float: left;
}
#tintuc .list_tintuc.first li img {
    width: 100%;
    margin-bottom: 10px;
}
#tintuc .list_tintuc.first li a{
  font-size: 20px;
  font-family: 'Open Sans';
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}
#tintuc .list_tintuc li .date {
  font-size: 12px;
  color: rgb(58, 58, 58);
  font-style: italic;
  text-transform: uppercase;
}

#mocthoigian {
    padding:0;
}

/* Footer */
#footer {
    padding: 50px 0 0;
}
#footer h2 {
  font-size: 24px;
  font-family: 'Open Sans';
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}
#footer h3 {
  font-size: 24px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 5px;
  display: block;
}
#footer p {
    text-align: left;
    font-weight: bold;
}
#footer ul {
    margin-bottom: 30px; 
}
#footer .footer_abover i{
    display: block;
    font-size: 35px;
    line-height: 68px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(0, 84, 166);
    width: 68px;
    height: 68px;
    float: left;
    margin: 10px 20px 20px 0;
}
#footer ul li {
    width: 27%;
    margin-right: 5%;
    float: left;
    display: flex;
    align-items: center;
}
#footer ul li:first-child {
    width: 35%;
    margin-right: 5%;
}
#footer ul li:last-child {
    margin-right: 0;
}
#footer ul li .content_diachi {
    width: calc(100% - 88px);
}
#footer .copyright {
  font-size: 16px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  border-top: 1px solid #cecece;
  padding: 20px 0;
  margin-top: 30px;
}
/* tin tuc */
.breadcrumb-section {
  padding: 100px 0 10px;
}
.breadcrumb-section .breadcrumb {
  background: none;
  border: none;
  color: #fff;
}
.breadcrumb-section .breadcrumb a {
  color: #FECC26;
}
.wrapper-content {
  padding: 30px 0;
  background: #F8F8F8;
}
.entry-title {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #cecece;
  font-size: 20px;
}
.entry-content {
  text-align: justify;
}
.entry-content img {
  margin: 10px auto;
  display: block;
}
#right-sidebar h3.widget-title {
  margin: 0 0 20px;
  border-bottom: 2px solid #384d9f;
  display: block;
}
#right-sidebar h3.widget-title span {
  background-color: #384d9f;
  line-height: 20px;
  display: table;
  padding: 7px 12px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}
.navbar-brand > img {
  margin-top: -50px;
}
.rpwe-block ul {
      list-style: none!important;
    margin-left: 0!important;
    padding-left: 0!important;
}
.rpwe-block li {
      border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none;
        display: block;
    width: 100%;
    clear: both;
}
.rpwe-clearfix:before, .rpwe-clearfix:after {
      content: "";
    display: table !important;
}
aside.widget a {
  color: #373a3c;
}
.rpwe-block a {
      display: inline!important;
    text-decoration: none;
}
.rpwe-block img{
      border: 1px solid #EEE!important;
    box-shadow: none!important;
    margin: 2px 10px 2px 0;
    padding: 3px!important;
        display: inline;
    float: left;
    width: 100px;
    height: 60px;
}
.rpwe-block h3 {
      background: none!important;
    clear: none;
    margin-bottom: 0!important;
    margin-top: 0!important;
    font-weight: 400;
    font-size: 12px!important;
    line-height: 1.5em;
}
.rpwe-time {
      color: #bbb;
    font-size: 11px;
}